body{
	font-family: Poppins;
}
.my_picture{
    background: url('../img/my_pic_2.jpg') no-repeat;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
}

.overlay{
	/*background: rgba(0,0,0,0.4);*/
	min-height: 600px;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(34, 34, 34,0.8), rgba(74, 106, 57,0.8) 100%, rgba(118, 184, 82,0.8));
}
.btn-group a{
 	color: #fff;
  }

  @media (max-width: 375px) {
  	.btn-group{
    	display: block;
    	width: 100%;
 	 }
 }
  

 .btn-group a:hover{
 	color: #80e27e;
 	text-decoration: none;
 	cursor: pointer;
 }

h3{
	font-size:48px;
	color:#fff;
}
p{
	font-size:14px;
}
.welcome_note{
	margin-top:150px;
}
.welcome_text{
	margin-top: 35px;
	color:#fff;
	font-size:17px;
}
.img-responsive{
	width:100%;
	height: auto;
}

.btn-group{
	margin-top: 50px;
}
.btn-secondary{
	background: #4CAF50;
	border:0px;
}

.btn-secondary:hover{
	background: #fff;
	border:0px;
	color: #4CAF50;
}
/* testimonial */


.testimonial{
	background:linear-gradient(256deg, #8dc26f, #76b852);
	border-top:15px solid #4CAF50;
	margin-top:80px;

}

.fa-quote-left{
	font-size: 32px;
}

.fa-quote-right{
	margin-top: 40px;
	font-size: 32px;
}

.someke{
	margin-top:-120px;
}

.testimonial_post{
	font-size: 14px;
	font-weight: light;
	line-height: 28px;
}

.full_name{
	text-transform: uppercase;
	letter-spacing: 1px;
}



.blog_section{
	margin-top:100px;
}
.options{
	margin-top:0px;
}

.optios a{
	margin-top: 24px;
	color: fff;

}

.welcome_post{
	margin-top:50px;
}


/*navbar styling*/


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    padding-right: 30px;
    cursor: pointer;
}

.navbar-light .navbar-toggler {
    border: none;
}

.bg-company{
	background-image: linear-gradient(266deg, rgb(141, 194, 111), rgb(118, 184, 82));
}
.bg-company li a{
	color: #fff;
	font-size: 14px;
}

.bg-company li a:hover{
	color: #222;
	font-size: 14px;
}



.navbar-toggler-icon{
	background: #fff;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 226, 126, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
	border:none;
}

.navbar-toggler-icon{
	background-color: #4CAF50;
}


/*.active{
	border-bottom:3px solid #FF7043;
}*/


/* styling  for how it works*/


.how_it_works{
	margin-bottom:32px;
}
.how_it_works1{
	margin-bottom:42px;
}

.how{
	margin-top:32px;
	line-height: 22px;
}
.how1{
	margin-top:14px;
	line-height: 22px;
}
.readmore{
	color:#80e27e;
}

/* styling for  blog post */

.from_our_blog{
	border-bottom:2px solid #80e27e;
	width:100px;
}


.card_title{
	font-size:17px;
	color: rgba(69, 69, 69, 0.8);

}

.date{
	color:#d5d5dc;
	font-size: 8px;
}

.article_author{
	font-size:8px;
	color: #80e27e;
}

.card{
	border-radius: 0px;
	border: 1px solid #ebebf2;
}


/* styling for  footer */

footer ul {
	list-style-type:none;
	padding: 0px;
}

footer ul li {
	margin-bottom: 16px;
	
}

.social_media ul li{
	display:inline-block;
	padding: 4px;
}

footer{
	background:linear-gradient(256deg, #8dc26f, #76b852);
	border-top:15px solid #4CAF50;
}

/* about us styling */

.about-us{
	color: #4CAF50;
}

.about_up{
	line-height: 24px;
}

.about_line{
	border: 1px solid #4CAF50;
	width: 150px; 
	margin-top: 5px; 
}
.my_class{
	line-height: 24px;
	margin-top: 50px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(2,2,2,0) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-header h5 a{
  	font-size: 14px;
  	color: #4CAF50;
  }

  .card-body{
  	line-height: 22px;
  	font-size: 14px;
  }



  /*PROCESS STYLING*/

  .line-height{
  	line-height: 24px;
  }
  

  .dynamics li{
  	font-size: 14px;
  	margin-bottom: 8px;
  }

  .table tr th{
  	font-size: 14px;
  	color: #4CAF50;
  }

  .table tr td{
  	font-size: 14px;
  }
  tr{
  	width: 300px;
  }

  .btn-success{
  	background-color: #4CAF50;
  	border: 0px;
  }

  .btn-info{
  	width: 200px;
  	background-color: #4CAF50;
  	border:none;
  }

  .btn-info:hover{
  	width: 200px;
  	background-color: #154604;
  	border:none;
  	cursor: pointer;
  }

  .pagination{
  	margin-left: auto;
  	margin-righ: auto;
  }

  .page-item.active_one .page-link{
  	background-color: #4CAF50;
  	border-color: #4CAF50;
  	color: #fff;
  	border-radius: 100%;
  }

  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 4px;
    line-height: 1.25;
    color:#4CAF50;
    background-color: #fff;
    border: 0px !important;
}

.table-hover tbody tr:hover {
  background-color: rgba(128, 226, 126,0.2) !important;
 }

.btn-outline-success{
	border:none;
}


/* TESTIMONIAL */

.table-responsive{
	display: table;
}




/*mobile view*/
@media(max-width: 375px){
	.navbar-collapse {
	    flex-basis: 100%;
	    align-items: center;
	    padding: 10px;
	    opacity: 1;
	}

	h3{
		font-size: 32px;
	}
	.welcome_text{
		font-size: 14px;
	}
	.someke{
		height: 400px;
		width: 200px;
	}

	.btn-responsive {
    padding:4px 4px;
    font-size:80%;
    line-height: 1;
  }

  .btn-secondary{
  	padding: 5px;
  }

  .btn-group{
  	display: none;
  }

  .bg-dark{
   	background-color: #4CAF50 !important;
   } 
}

@media (min-width: 600px) {
   .bg-dark{
   	background-color: rgba(2,2,2,0) !important;
   } 

   .card{
   	width: 20rem;
   }
}


@media(max-width: 500px){
	.bg-dark{
	 	background-color: #4CAF50 !important;
	 } 
}

@media(min-width: 400px){
	.btn_options{
		display: none;
	}
}

@media(max-width: 320px){
	.card{
		width: 18rem;
	}
}

@media(max-width: 500px){
	.btn-group{
		display: none;
	}

	.btn_options{
		display: block;
	}
}


.contact li{
	list-style-type: none;
	padding-left: 0px;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 20px;
}

.contact{
	padding-left: 0px;
}

label{
	font-size: 14px;
}










